<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portf
        //- link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon" href="logo_icon.png" type="image/png")
    body
        .shell__header
            header.header
                .container__header
                    .logo__header
                        .logos__header
                            h2.rotatethis#rotated css• html• javascript• php• figma• 
                        h2.title__header PORTFOLIO

                    ul.header__menu 
                        li.menu__link
                            a(href="#") Главная
                        li.menu__link
                            a(href="#") Обо мне
                        li.menu__link
                            a(href="#") Способности
                        li.menu__link
                            a(href="#") Работы
                        li.menu__link
                            a(href="#") Контакты

            section.section
                .container__section
                    .section__circle
                        .ringOne.ring
                            |
                            |
                            img(src="img/circle.png" alt="")
                        .ringTwo.ring
                            |
                            |
                            img(src="img/circle.png" alt="")
                    .text
                        .hero-title
                            h1.glitch.line.anim-typewriter(data-text="KAH3VICH") KAH3VICH
                            p IT разработчик
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, commodi quis ipsam placeat fugiat! Impedit neque ratione ad fuga aliquid.

            section
                .section__add
                        .add__arrow
                            |
                            |
                            a.arrow__btn(href="#")
                                |
                                |
                                img.main__arrow(src="img/down-arrow.svg" alt="Перейти ниже")
                        .section__text
                            h3 my life
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus ab quisquam sunt, earum nesciunt quis!
            
            script(type="text/javascript" src="https://rawgit.com/peterhry/CircleType/master/dist/circletype.min.js")
            script(src="js/main.js")